<%-
  doc_title = (document_show_html_title.nil? || document_show_html_title.empty?) ? @document[:id] : document_show_html_title.first
  @page_title = "#{doc_title} - #{application_name}" 
-%>

<div class="document_viewer" id="cover_container">

	<h1>
		<% unless get_values_from_datastream(@document_fedora, "descMetadata", [:title]).first.empty? -%>
	      <%= get_values_from_datastream(@document_fedora, "descMetadata", [:title]).first %>
		<% else -%>
			<%= params[:id] %>
		 <% end -%>
	</h1>
	<div class="pid"><dl><dt>PID</dt><dd><%=params[:id]%></dd></dl></div>  
  	
  <%= render :partial => 'hypatia_xanadu_items/show_description' -%>

  <%= render :partial => 'hypatia_xanadu_items/show_files' -%>

  <%= render :partial => 'hypatia_xanadu_items/show_technical' -%>

</div>
