<div class="files">
  <h2>Files</h2>
  <dl>
    <%= display_ds_values_as_dl_element("contentMetadata", :oid, "Root Object Id Attrib") %>
    <%= display_ds_values_as_dl_element("contentMetadata", :url, "url") %>
    <%= display_ds_values_as_dl_element("contentMetadata", :resource, "Resource") %>
    <%#= display_ds_values_as_dl_element("contentMetadata", :location, "Location") %>
    <%#= display_ds_values_as_dl_element("contentMetadata", :urla, "File") %>
  </dl>
</div>


<% unless @document_fedora.file_objects(:response_format=>:solr).hits.empty? -%>
	<fieldset><legend>Files</legend>
    <div class="uploads" id="<%= format_pid(params[:id]) %>">	
	  <table id="file_assets" class="multipleEdit">
	    <tr>
	      <th>File Name</th>
	      <th>Size</th>
	      <th>Uploaded</th>
	    </tr>
	
		<% @document_fedora.file_objects(:response_format=>:solr).each do |result| %>
		<tr class="file_asset" >
		  <td>
		    <%= link_to result[solr_name("title", :text)], file_asset_path(result["id"]) %>
		  </td>
		  <td>
		    <%= result[solr_name("extent", :text)] %>
		  </td>
		  <td>
		    <% dt = DateTime.parse(result[ solr_name("system_create", :date)] ) %>
		    <%= format_date dt %>
		  </td>
		</tr>
		<% end -%>
	  </table>
		</div>
	</fieldset>
<% end -%>
