<div class="techInfo">
  <h2>Technical info</h2>
  <dl>
    <%= display_ds_values_as_dl_element("identityMetadata", :adminPolicy, "Admin Policy") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :agreementId, "Agreement ID") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :objectCreator, "Object Creator") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :hypatiaId, "Hypatia ID") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :objectId, "Object ID") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :objectLabel, "Object Label") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :objectType, "Object Type") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :setType, "Set Type") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :tag, "Tag") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :uuid, "UUID") %>
  </dl>
</div>
