<%- form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :class => "step") do -%>
  
  <p id="local_id_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:local_id], "Local Identifier") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:local_id], :multiple=>false, :required=>false ) %>
  </p>
  
  <p id="extent_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:extent], "Extent") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:extent], :multiple=>true, :required=>false ) %>
  </p>  
  
  <p id="located_in_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:located_in], "Located In") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:located_in], :multiple=>false, :required=>false ) %>
  </p>
  
  <p id="digital_origin_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:digital_origin], "Digital Origin") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:digital_origin], :multiple=>false, :required=>false ) %>
  </p>
  
  <p id="processing_info_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:processing_info], "Processing Information") %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:processing_info], :multiple=>false, :required=>false ) %>
  </p>
  
  <%= hidden_field_tag("_method","put", :id=>"description_method") %>
  <%= hidden_field_tag(:wf_step, params[:wf_step], :id => "description_wf_step") %>
  <%= hidden_field_tag(:new_asset, true, :id => "description_new_asset") if params[:new_asset] %>
  <%= hidden_field_tag(:content_type,"hypatia_item", :id => "description_content_type") %>
  <%= submit_tag(submit_name, :name=>"continue", :class=>"save-submit") %>
  <%= submit_tag("Save and Finish", :name=>"finish", :class=>"save-submit") unless params[:new_asset] %>
<%- end -%>