<div class="descMetadata metadata-section">
  <h2 class="section-title">Description</h2>
  <span class="show-hide">Hide Section</span>
  <dl class="collection-metadata-list toggle-section">
    <%= display_ds_values_as_dl_element("descMetadata", :local_id, "Local Identifier") %>
    <%= display_ds_values_as_dl_element("descMetadata", :extent, "Extent") %>
    <%= display_ds_values_as_dl_element("descMetadata", :located_in, "Located In") %>
    <%= display_ds_values_as_dl_element("descMetadata", :digital_origin, "Digital Origin") %>
    <%= display_ds_values_as_dl_element("descMetadata", :processing_info, "Processing Information") %>
  </dl>
</div>