<%- form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :class => "step") do -%>
  
  <p id="content_oid_field" class="fedora-text-field">
    <%= fedora_field_label("contentMetadata", [:content_oid], "Content Object ID") %>
    <%= fedora_text_field(@document_fedora,"contentMetadata", [:content_oid], :multiple=>false, :required=>false ) %>
  </p>
  
  <%= hidden_field_tag("_method","put", :id=>"tech_info_method") %>
  <%= hidden_field_tag(:wf_step, params[:wf_step], :id => "tech_info_wf_step") %>
  <%= hidden_field_tag(:new_asset, true, :id => "tech_info_new_asset") if params[:new_asset] %>
  <%= hidden_field_tag(:content_type,"hypatia_item", :id => "tech_info_content_type") %>
  <%= submit_tag(submit_name, :name=>"continue", :class=>"save-submit") %>
  <%= submit_tag("Save and Finish", :name=>"finish", :class=>"save-submit") unless params[:new_asset] %>
<%- end -%>