<% javascript_includes << ["relationships"] %>

<% member_objects = @document_fedora.members(:response_format=>:solr) -%>

<div id="relationship-editor">
<div class="relationship-pane item-pane">
  <h2 class="list-title">Selected Items</h2>
  <%- if @folder_list.blank? -%>
    <p class="no-relationship-items">No Selected Items</p>
  <%- else -%>
    <ul id="marked-list">
      <%- @folder_list.each do |marked| -%>
        <%- unless member_objects.any? { |obj| obj["id"] === marked["id"] || obj["id"] === params[:id] } -%>
          <li class="marked" id="<%= marked["id"] %>"><%= marked[solr_name("display_name", :string)] %> <%= link_to "Info", catalog_path(:id=>marked["id"]), :target => "_blank" %></li>
        <%- end -%>
      <%- end -%>
    </ul>
  <%- end -%>

  <h2 class="list-title">Other Available Items</h2>
  <%- if @document_list.blank? -%>
    <p class="no-relationship-items">No Other Available Items</p>
  <%- else -%>
    <ul id="item-list">
      <%- @document_list.each do |doc| -%>
        <%- unless member_objects.any? { |obj| obj["id"] === doc["id"] || obj["id"] === params[:id] } -%>
          <li class="item" id="<%= doc["id"] %>"><%= doc[solr_name("display_name", :string)] %> <%= link_to "Info", catalog_path(:id=>doc["id"]), :target => "_blank" %></li>
        <%- end -%>
      <%- end -%>
    </ul>
  <%- end -%>
</div>


<div class="relationship-pane member-pane">
  <h2 class="list-title">In this <%= @document_fedora.is_a?(HypatiaCollection) ? "Collection" : "Set" %></h2>
  <ul id="member-list">
    <%- if member_objects.hits.empty? -%>
      <p class="no-relationship-items">No Marked Items</p>
    <%- else -%>
      <%- member_objects.each do |member| -%>
        <li class="member" id="<%= member["id"] %>"><%= member[solr_name("display_name", :string)] %> <%= link_to "Info", catalog_path(:id=>member["id"]), :target => "_blank" %> <a href="#" class="remove-relationship">Remove</a></li>
      <%- end -%>
    <%- end -%>	
  </ul>	
</div>	

<% sidebar_items << capture do %>
  <div class="sets members sidebar-section first">
    <h2 class="sidebar-title">Edit Relationships for <%= params[:id] %></h2>
    <div class="relationship-utils">
      <button id="relationship-save" data-update-path="<%= update_members_catalog_path %>">Save</button>
      <%= link_to "Cancel", catalog_path(:id=>params["id"]) %>
    </div>
  </div>
<% end %>


</div>