<div class="document <%= cycle("even","odd") %>">
  <%= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %>
  <dl>
    <%= render_field_from_index(document,"dd_filename_t", "File Name:") %>
    <%= render_field_from_index(document,"dd_size_t", "Size:") %>
    <%= render_field_from_index(document,"dd_mimetype_t", "Mimetype:") %>
  </dl>
</div>