<div class="techInfo metadata-section">
  <h2 class="section-title">Technical Information</h2>
  <span class="show-hide" style="display:none;">Show Section</span>
  <div class="toggle-section start-shut">
    <div class="contentMetadata metadata-subsection">
      <h3 class="subsection-title">Disk Image File</h3>
      <dl class="disk-image-metadata-list">
        <%= display_ds_values_as_dl_element("contentMetadata", :dd_filename, "File Name") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :dd_size, "Size") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :dd_mimetype, "Mimetype") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :dd_md5, "md5 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :dd_sha1, "sha1 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :dd_fedora_pid, "FileAsset Object Id") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :dd_ds_id, "Datastream ID") %>
      </dl>
    </div>
    <div class="contentMetadata metadata-subsection">
      <h3 class="subsection-title">Image of Disk - Front</h3>
      <dl class="disk-image-metadata-list">
        <%= display_ds_values_as_dl_element("contentMetadata", :image_front_filename, "File Name") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_front_size, "Size") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_front_mimetype, "Mimetype") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_front_md5, "md5 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_front_sha1, "sha1 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_front_fedora_pid, "FileAsset Object Id") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_front_ds_id, "Datastream ID") %>
      </dl>
    </div>
    <div class="contentMetadata metadata-subsection">
      <h3 class="subsection-title">Image of Disk - Back</h3>
      <dl class="disk-image-metadata-list">
        <%= display_ds_values_as_dl_element("contentMetadata", :image_back_filename, "File Name") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_back_size, "Size") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_back_mimetype, "Mimetype") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_back_md5, "md5 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_back_sha1, "sha1 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_back_fedora_pid, "FileAsset Object Id") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_back_ds_id, "Datastream ID") %>
      </dl>
    </div>
  </div>
</div>
