<div class="descMetadata metadata-section">
  <h2 class="section-title">Description</h2>
  <span class="show-hide" style="display:none;">Hide Section</span>
  <div class="toggle-section">
    <div class="descMetadata metadata-subsection">
      <h3 class="subsection-title">Disk Image</h3>
      <dl class="disk-image-metadata-list">
        <%= display_ds_values_as_dl_element("descMetadata", :extent, "Extent") %>
        <%= display_ds_values_as_dl_element("descMetadata", :digital_origin, "Digital Origin") %>
      </dl>
    </div>
    <div class="descMetadata metadata-subsection">
      <h3 class="subsection-title">Repository</h3>
      <dl class="disk-image-metadata-list">
        <%= display_ds_values_as_dl_element("descMetadata", :local_id, "Local Identifier") %>
      </dl>
    </div>
  </div>
  <%- coll_title = get_coll_title(@document_fedora)  -%>
  <%- repo_name = get_repository_name(@document_fedora) -%>
  <%- unless coll_title.blank? and repo_name.blank? -%>
  <div class="descMetadata metadata-subsection">
      <h3 class="subsection-title">Collection</h3>
      <dl>
        <%- unless coll_title.blank? -%>
          <dt>Collection Title</dt>
          <dd><%= coll_title %></dd>
        <%- end -%>
        <%- unless repo_name.blank? -%>
          <dt>Repository Name</dt>
          <dd><%= repo_name %></dd>
        <%- end -%>
      </dl>
    </div>
  <%- end -%>
</div>
