<%- form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :class => "step") do -%>
  <div class="descMetadata metadata-section">
    <h2 class="section-title">Description</h2>
    <div class="descMetadata metadata-subsection">
      <h3 class="subsection-title">Set (Series)</h3>
      <p id="local_id_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [:local_id], "Local Identifier") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:local_id], :multiple=>false, :required=>false ) %>
      </p>
  
      <p id="create_date_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [:create_date], "Created") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:create_date], :multiple=>false, :required=>false ) %>
      </p>
  
      <p id="extent_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [:extent], "Extent") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:extent], :multiple=>true, :required=>false ) %>
      </p>  
  
      <p id="scope_and_content_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [:scope_and_content], "Summary") %>
        <%= fedora_text_area(@document_fedora,"descMetadata", [:scope_and_content], :multiple=>false, :required=>false ) %>
      </p>
  
      <p id="note_field" class="fedora-text-field">
        <%= fedora_field_label("descMetadata", [:note], "Note") %>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:note], :multiple=>true, :required=>false ) %>
      </p>
    </div>
  </div>
  
  
  <%= hidden_field_tag("_method","put", :id=>"description_method") %>
  <%= hidden_field_tag(:wf_step, params[:wf_step], :id => "description_wf_step") %>
  <%= hidden_field_tag(:new_asset, true, :id => "description_new_asset") if params[:new_asset] %>
  <%= hidden_field_tag(:content_type,"hypatia_set", :id => "description_content_type") %>
  <%= submit_tag(submit_name, :name=>"continue", :class=>"save-submit") %>
  <%= submit_tag("Save and Finish", :name=>"finish", :class=>"save-submit") unless params[:new_asset] %>
<%- end -%>