<div class="techInfo">
  <h2><u>Technical info</u></h2>
  <dl>
    <%= display_ds_values_as_dl_element("identityMetadata", :admin_policy, "Admin Policy") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :creator, "Object Creator") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :hypatia_source_id, "Hypatia ID") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :dor_object_id, "Object ID") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :label, "Object Label") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :object_type, "Object Type") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :set_type, "Set Type") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :tag, "Tag") %>
    <%= display_ds_values_as_dl_element("identityMetadata", :uuid, "UUID") %>
  </dl>
</div>
