<div class="descMetadata metadata-section">
  <h2 class="section-title">Description</h2>
  <span class="show-hide" style="display:none;">Hide Section</span>
  <div class="toggle-section">
    <div class="descMetadata metadata-subsection">
      <h3 class="subsection-title">Set (Series)</h3>
      <dl class="collection-metadata-list">
        <%= display_ds_values_as_dl_element("descMetadata", :local_id, "Local Identifier") %>
        <%= display_ds_values_as_dl_element("descMetadata", :create_date, "Created") %>
        <%= display_ds_values_as_dl_element("descMetadata", :extent, "Extent") %>
        <%= display_ds_values_as_dl_element("descMetadata", :scope_and_content, "Summary") %>
        <%= display_ds_values_as_dl_element("descMetadata", :note, "Note") %>
      </dl>
    </div>
  </div>
</div>
