<div class="techInfo metadata-section">
  <h2 class="section-title">Technical Information</h2>
  <span class="show-hide" style="display:none;">Hide Section</span>
  <div class="toggle-section">
    <div class="contentMetadata metadata-subsection">
      <h3 class="subsection-title">EAD File</h3>
      <dl class="collection-metadata-list">
        <%= display_ds_values_as_dl_element("contentMetadata", :ead_filename, "EAD Filename") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :ead_fedora_pid, "EAD File Object Id") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :ead_ds_id, "EAD Datastream ID") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :ead_md5, "EAD md5 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :ead_sha1, "EAD sha1 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :ead_size, "EAD size") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :ead_mimetype, "EAD mimetype") %>
      </dl>
    </div>
    <div class="contentMetadata metadata-subsection">
      <h3 class="subsection-title">Image for Collection</h3>
      <dl class="collection-metadata-list">
        <%= display_ds_values_as_dl_element("contentMetadata", :image_filename, "Image Filename") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_fedora_pid, "Image File Object Id") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_ds_id, "Image Datastream ID") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_md5, "Image md5 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_sha1, "Image sha1 Checksum") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_size, "Image size") %>
        <%= display_ds_values_as_dl_element("contentMetadata", :image_mimetype, "Image mimetype") %>
      </dl>
    </div>
  </div>
</div>
