<%-
  doc_title = (document_show_html_title.nil? || document_show_html_title.empty?) ? @document[:id] : document_show_html_title.first
  @page_title = "#{doc_title} - #{application_name}" 
-%>
<%- sidebar_items << render("hypatia_collections/show_members") -%>
<div class="document_viewer" id="cover_container">
  <% img_filename = get_values_from_datastream(@document_fedora, "contentMetadata", :image_filename) -%>
  <% img_pid = get_values_from_datastream(@document_fedora, "contentMetadata", :image_fedora_pid) -%>
  <% img_ds_id = get_values_from_datastream(@document_fedora, "contentMetadata", :image_ds_id).first -%>
  <%= image_tag (asset_downloads_path(img_pid, :download_id=>img_ds_id), :alt=>img_filename, :class => "coll_image") %>
  
  <%= render :partial => 'hypatia_collections/show_description' -%>
  <%= render :partial => 'hypatia_collections/show_files' -%>
  <%= render :partial => 'hypatia_collections/show_technical' -%>
  <%= render :partial => 'shared/show_permissions' -%>
</div>
