<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html class="ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html class="ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html class="ie9"> <![endif]--> 
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <title><%= h(@page_title || application_name) %></title>
  <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>

  <%= render_head_content %>

	<!--[if IE]>
  	<%= stylesheet_link_tag('hydra/ie-styles', {:plugin=>"hydra-head", :media=>'all'}) %>
  	<%= stylesheet_link_tag('progressBox-ie6.css', {:plugin=>"hydra-head", :media=>'all'}) %>
	<![endif]-->
</head>

<body class="<%= render_body_class %>">

  <div id="doc4" class="yui-t2">

  	<div id="hd">
  		<h1 class="site-heading"><%= link_to application_name, root_path %> <%= "<span id='results_text'>Search Results</span>" if (params[:controller] == "catalog" and !params[:id]) %></h1>
  		<%= render :partial => '/user_util_links.html' %>
  	</div>
  
    <div id="bd">
  		<div id="yui-main">
        <%= render :partial=>'/flash_msg' %>
        <%= yield %>
      </div>
      <%- unless sidebar_items.blank? -%>
        <div class="yui-b sidebar"><%= sidebar_items.join('') %></div>	
      <%- end -%>
    </div>
  
  
  	<div id="footer">
      <div class="footer-info">
        <p>What the heck is this Hypatia thing? Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
      </div>
      <div class="partner-info">
        <h3>Hypatia Partners</h3>
        <ul>
          <li><a href="#">Stanford University</a></li>
          <li><a href="#">Yale University</a></li>
          <li><a href="#">University of Hull</a></li>
          <li><a href="#">University of Virginia</a></li>
        </ul>
      </div>
  	  <div id="hydra_logo"><%= image_tag('/images/hydra-logo.png', :width => 80, :height => 50, :alt => "Hydra logo") %></div>
  	</div>

  </div>
</body>

</html>
